@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply bg-secondary;
}

h1 {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
}

/** animations**/
@keyframes fadedInAnimation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 90;
  }
  100% {
    opacity: 200;
  }
}

.fadedInAnimation {
  animation: fadedInAnimation 4s ease-in-out;
}
