@import '../../styles/breakpoint';
@import '../../styles/globals';
@import url('https://use.typekit.net/ywc2kmt.css');

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}
