@import '../../styles/breakpoint';
@import '../../styles/globals';
@import url('https://use.typekit.net/ywc2kmt.css');

.header__paragraph {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
}
